#juegoView{
    -fx-background-image: url("imagenes/mapa/background_juego.png");
}

#controlesView{
    -fx-background-image: url("imagenes/controles/controles.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#botonAceptar{
    -fx-background-image: url("imagenes/controles/botonAceptar.png");
    -fx-padding: 0;
}

#botonHachaMadera{
    -fx-background-image: url("imagenes/botonesInventario/botonHachaMadera.png");
}

#botonHachaPiedra{
    -fx-background-image: url("imagenes/botonesInventario/botonHachaPiedra.png");
}

#botonHachaMetal{
    -fx-background-image: url("imagenes/botonesInventario/botonHachaMetal.png");
}

#botonPicoMadera{
    -fx-background-image: url("imagenes/botonesInventario/botonPicoMadera.png");
}

#botonPicoPiedra{
    -fx-background-image: url("imagenes/botonesInventario/botonPicoPiedra.png");
}

#botonPicoMetal{
    -fx-background-image: url("imagenes/botonesInventario/botonPicoMetal.png");
}

#botonPicoFino{
    -fx-background-image: url("imagenes/botonesInventario/botonPicoFino.png");
}

#botonVacio{
    -fx-background-image: url("imagenes/botonesInventario/botonVacio.png");
}

#hachaMaderaMano{
    -fx-background-image: url("imagenes/botonesInventario/hachaMaderaMano.png");
}

#hachaPiedraMano{
    -fx-background-image: url("imagenes/botonesInventario/hachaPiedraMano.png");
}

#hachaMetalMano{
    -fx-background-image: url("imagenes/botonesInventario/hachaMetalMano.png");
}

#picoPiedraMano{
    -fx-background-image: url("imagenes/botonesInventario/picoPiedraMano.png");
}

#picoMaderaMano{
    -fx-background-image: url("imagenes/botonesInventario/picoMaderaMano.png");
}

#picoMetalMano{
    -fx-background-image: url("imagenes/botonesInventario/picoMetalMano.png");
}

#picoFinoMano{
    -fx-background-image: url("imagenes/botonesInventario/picoFinoMano.png");
}

#manoVacia{
    -fx-background-image: url("imagenes/botonesInventario/manoVacia.png");
}

